node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# rollup.js default build output
dist/

# app configuration
server/config/*.json
server/config/*.key